.container {
	height: 230px;
	padding: 14px;
	background: #fff;
	border-radius: 4px;
	box-sizing: border-box;

	.title {
		margin-bottom: 14px;
		font-size: 14px;
		font-weight: 700;
		line-height: 1;
	}
}
